include LICENSE
include src/prefectlegacy/config.toml
include src/prefectlegacy/cli/docker-compose.yml
include versioneer.py
include requirements.txt
include dev-requirements.txt
include test-requirements.txt
include src/prefectlegacy/_version.py
include src/prefectlegacy/_siginfo.py
include src/prefectlegacy/_sig29/*.txt
graft src/prefectlegacy/agent
graft src/prefectlegacy/tasks/aws/waiters
